#swiper {
    width: 100%;
    height: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e5ebef;
  }
  
  #swiperslider {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 5px;
   
  }
  
  #swiperslider div {
    display: block;
    width: 100%;
    height: "100%";
  
  }
  #swiperslider div img {
        width: 100%;
        height: 80%;
  }
  @media only screen and (min-width: 769px) {
    .swiper-slide:first-child {
      transition: transform 100ms;
    }
  
    .swiper-slide:first-child img {
      transition: box-shadow 500ms;
    }
  
    .swiper-slide.swiper-slide-active:first-child {
      transform: translateX(50%);
      z-index: 2;
    }
  
    .swiper-slide.swiper-slide-active:first-child img {
      box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
    }
  
    .swiper-slide:nth-child(2) {
      transition: transform 100ms;
    }
  
    .swiper-slide.swiper-slide-next:nth-child(2) {
      transform: translateX(55%);
      z-index: 1;
    }
  
    .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
      transform: translateX(-50%);
    }
  
    .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
      transform: translateX(-55%);
    }
  }
  